*.sdf

*.opensdf

*.suo
ipch
/projects/vs2012/Debug/Test-SDL2.ilk
/projects/vs2012/Debug/Test-SDL2.pdb
/projects/vs2012/Debug/XAGUI.lib
/projects/vs2012/Debug/Test-SDL2.exe
/projects/vs2012/Release/Test-SDL2.exe
/projects/vs2012/Release/Test-SDL2.pdb
/projects/vs2012/Release/XAGUI.lib
/projects/vs2012/Release/res
/projects/vs2012/Test-SDL2/Debug
/projects/vs2012/Test-SDL2/Release
/projects/vs2012/XAGUI/Release
/projects/vs2012/XAGUI/Debug
/projects/vs2012/Test-SFML2/Debug
/projects/vs2012/Test-SFML2/Release
/projects/vs2012/Debug/Test-SFML2.exe
/projects/vs2012/Debug/Test-SFML2.ilk
/projects/vs2012/Debug/Test-SFML2.pdb
/projects/vs2012/Release/Test-SFML2.exe
/projects/vs2012/Release/Test-SFML2.pdb
/projects/android/obj
/projects/android-test-sdl2/obj
/projects/android-test-sdl2/bin
/projects/android-test-sdl2/gen
/projects/android-test-sdl2/libs
/projects/android-test-sdl2/obj
/projects/android-test-sdl2/jni/SDL
/projects/android-test-sdl2/jni/SDL_image
/projects/android-test-sdl2/jni/SDL_ttf
/projects/CodeBlocks/obj
/projects/CodeBlocks/libXAGUI.a
